@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');

// FONTS
$title-font : 'Poppins', sans-serif;
$primary-font : 'Poppins', sans-serif;

// COLORS
$background-color : #eeeeee;
$dark : #222831;
$light : #393e46;
$primary-color : #D4AF37;

// font-COLORS
$font-color : white;
$black : black;

//General features
*{
    font-family: $primary-font;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: $background-color;
    font-size: 16px;
    font-family: $primary-font;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//CONTENT


//navigation

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0px 100px;
    transition: all 0.3s ease-in-out;
    border-bottom:2px solid transparent;
    .logo-box{
        position: relative;
        width: auto;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        h1{
            font-weight: bold;
            font-size: 1.5em;
            line-height: 80px;
        }
    }
    .menu-box{
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                list-style: none;
                a{
                    line-height: 80px;
                    margin-left: 20px;
                    text-decoration: none;
                    color: $font-color;
                    font-weight: bold;
                    font-size: 1.3;
                    letter-spacing: 1px;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

nav.bg-scrolling{
    background-color: rgba($dark , $alpha: 1);
    border-bottom:2px solid;
    border-image:linear-gradient(to right,	$primary-color,$black ) 30;
    .menu-box{
        ul{
            li{
                a{
                    color: $font-color;
                    &:hover{
                        color: $primary-color;
                    }
                }
                a.aktive{
                    color: $primary-color;
                    font-weight: bolder;
                }
            }
        }
    }
}

// header


header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(header-img.jpg);
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    border-bottom:5px solid;
    border-image:linear-gradient(to right,	$primary-color,$black ) 30;
    .header-content{
        position: absolute;
        width: 50%;
        height: auto;
        left:0px;
        bottom: 50px;
        background-color: rgba($black , $alpha: 0.5);
        padding: 40px;
        border-radius: 0 20px 20px 0;
        h1{
            color: $primary-color;
            font-size: 2.2em;
            font-family: $title-font;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            color: $font-color;
            font-size: 1.5em;
            span{
                color: $font-color;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }
}

//sections

.section1{
    padding: 0 100px;
    .test-box{
        position: relative;
        width: 100%;
        height: 60vh;
        background-color: $dark;
        border-radius: 20px;
        .text{
            position: relative;
            width: 100%;
            height: 30%;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                margin: 10px;
                color: $primary-color;
            }
            p{
                color: $font-color;
            }
        }
        .form{
            position: relative;
            width: 100%;
            height: 70%;
            border-radius: 0px 0px 20px 20px;
            display: flex;
            .temp-form{
                position: absolute;
                width: 30%;
                height: 100%;
                border-radius: 0px 0px 0px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                z-index: -3;
                transition: all 0.7s ease-in-out;
                h4{
                    color: $primary-color;
                    display: block;
                    margin: 15px;
                    span{
                        color: $font-color;
                        margin-left: 10px;
                    }
                }
                button{
                    background: linear-gradient(to right,$primary-color,$primary-color,$light 50%);
                    background-size: 300%;
                    background-position: 0 100%;
                    padding: 5px 65px;
                    border-radius: 5px;
                    border: none;
                    font-weight: bold;
                    margin: 5px 5px 5px 0px;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-position: 100% 0;
                        color: $primary-color;
                    }
                }
                
            }
            .info-form{
                position: relative;
                width: 30%;
                height: 100%;
                border-radius: 0px 0px 0px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: all 0.5s ease-in-out;
                z-index: 5;
                form{
                    position: relative;
                    h4{
                        color: $primary-color;
                    }
                    input{
                        margin: 5px 0px 10px 0px;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid $primary-color;
                        color: $font-color;
                        transition: all 0.5s ease-in-out;
                        width: 80%;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            border-color: $light;
                        }
                    }
                    input[type=number]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                    .checkbox-box{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        span{
                            color: $font-color;
                        }
                        input[type="radio"] {
                            background-color: $primary-color;
                            border-radius: 10px;
                            cursor: pointer;
                            height: 15px;
                            position: relative;
                            width: 15px;
                            -webkit-appearance: none;
                            margin: 15px;
                            &:first-child{
                                margin-left:0;
                            }
                        }
                        input[type="radio"]:after {
                            background-color: $dark;
                            border-radius: 25px;
                            content: '';
                            display: block;
                            height: 7px;
                            left: 4px;
                            position: relative;
                            top: 4px;
                            width: 7px;
                        }
                        input[type="radio"]:checked:after {
                            background-color: $primary-color;
                            box-shadow: inset 0 0 0 1px $dark,
                                        inset 0 2px 2px $light,
                                        0 1px 1px $font-color,
                                        0 0 2px 2px $primary-color;
                        }
                    }
                }
                button{
                    background: linear-gradient(to right,$primary-color,$primary-color,$light 50%);
                    background-size: 300%;
                    background-position: 0 100%;
                    padding: 5px 65px;
                    border-radius: 5px;
                    border: none;
                    font-weight: bold;
                    margin: 5px 5px 5px 0px;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        background-position: 100% 0;
                        color: $primary-color;
                    }
                }
            }
            .temp-form2{
                position: absolute;
                width: 70%;
                height: 100%;
                border-radius: 0px 0px 20px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                z-index: -3;
                border-left: 2px solid;
                border-image:linear-gradient(to bottom,$dark,$primary-color) 1%;
                .cor-line{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 15%;
                    padding: 0 100px;
                    transition: all 0.5s ease-in-out;
                    .skor{
                        position: relative;
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h3{
                            color: $light;
                            font-size: 1.2em;
                            span{
                                font-size: 1em;
                                margin-right: 5px;
                            }
                        }
                    }
                    .bar-box{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70%;
                        height: 100%;
                        .bar{
                            position: relative;
                            width: 100%;
                            height: 10px;
                            background-color: $light;
                            border-radius: 50px;
                            .line{
                                position: relative;
                                height: 9px;
                                width: 5%;
                                transition: all 0.2s ease-in-out;
                                background-color: $primary-color;
                                border-radius: 50px;
                            }
                        }
                    }
                }
                .ques-box{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 65%;
                    transition: all 0.5s ease-in-out;
                    h3{
                        color: $primary-color;
                    }
                    i{
                        font-size: 4em;
                        margin: 20px;
                        color: green;
                        transition: all 0.2s ease-in-out;
                    }
                    $unit: 2.5px;
                    .range{
                        width: 60%;
                    }
                    @mixin range-track {
                    -webkit-appearance: none;
                    width: 100%;
                    height: $unit * 4;
                    color: transparent;
                    background: $light;
                    border-radius: 999px;
                    border: none;
                    }
                    @mixin range-thumb {
                    -webkit-appearance: none;
                    height: $unit * 4;
                    width: $unit * 4;
                    border-radius: 30px;
                    background: $primary-color;
                    box-shadow: 0px 2px 10px -2px black(1);
                    }
                    input[type=range] {
                    -webkit-appearance: none;
                    display: block;
                    margin: 0;
                    width: 100%;
                    background: transparent;
                    }
                    input[type=range]::-webkit-slider-runnable-track {
                    @include range-track();
                    }
                    input[type=range]::-moz-range-track {
                    @include range-track();
                    }
                    input[type=range]::-ms-track {
                    @include range-track();
                    }
                    input[type=range]::-ms-fill-lower {
                    display: none;
                    }
                    input[type=range]::-ms-fill-upper {
                    display: none;
                    }
                    input[type=range]::-webkit-slider-thumb {
                    @include range-thumb();
                    }
                    input[type=range]::-moz-range-thumb {
                    @include range-thumb();
                    }
                    input[type=range]::-ms-thumb {
                    @include range-thumb();
                    }
                    .ticks {
                    display: flex;
                    justify-content: space-between;
                    }
                    .tick {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    color: $primary-color;
                    font-size: 0.9em;
                    left: 2px;
                    &:nth-child(3){
                        left: 3px;
                    }
                    }

                }
                .back-line{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 100px;
                    width: 100%;
                    height: 20%;
                    transition: all 0.3s ease-in-out;
                    i{
                        font-size: 2.5em;
                        color:$primary-color;
                        cursor: pointer;
                        transition: all 0.1s ease-in-out;
                        &:hover{
                            color: $light;
                        }
                    }
                    button{
                        background: linear-gradient(to right,$primary-color,$primary-color,$light 50%);
                        background-size: 300%;
                        background-position: 0 100%;
                        padding: 5px 65px;
                        border-radius: 5px;
                        border: none;
                        font-weight: bold;
                        margin: 5px 5px 5px 0px;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        display: none;
                        &:hover{
                            background-position: 100% 0;
                            color: $primary-color;
                        }
                    }
                }
            }
            .test-form{
                position: relative;
                width: 70%;
                height: 100%;
                border-radius: 0px 0px 20px 0px;
                position: relative;
                align-items: center;
                justify-content: center;
                z-index: 5;
                border-left: 2px solid;
                border-image:linear-gradient(to bottom,$dark,$primary-color) 1%;
                div{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease-in-out;
                    h3{
                        color: $primary-color;
                    }
                }
            }
            .result{
                position: absolute;
                width: 70%;
                height: 100%;
                border-radius: 0px 0px 20px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: 0;
                z-index: -2;
                border-left: 2px solid;
                padding: 0 50px;
                text-align: center;
                transition: all 0.5s ease-in-out;
                border-image:linear-gradient(to bottom,$dark,$primary-color) 1%;
                h1{
                    color: $primary-color;
                    font-size: 1.5em;
                    margin: 7px;
                }
                h4{
                    color: $font-color;
                    font-size: 0.7em;
                }
                h3{
                    color: $font-color;
                    font-size: 1.2em;
                    margin: 7px;
                }
            }
        }
    }
}