@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eeeeee;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.section, .section1, .section2, .section3, .section4, .section5 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  padding: 0px 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

nav .logo-box {
  position: relative;
  width: auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D4AF37;
}

nav .logo-box h1 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 80px;
}

nav .menu-box {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu-box ul li {
  list-style: none;
}

nav .menu-box ul li a {
  line-height: 80px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav .menu-box ul li a:hover {
  color: #D4AF37;
}

nav.bg-scrolling {
  background-color: #222831;
  border-bottom: 2px solid;
  -o-border-image: linear-gradient(to right, #D4AF37, black) 30;
     border-image: -webkit-gradient(linear, left top, right top, from(#D4AF37), to(black)) 30;
     border-image: linear-gradient(to right, #D4AF37, black) 30;
}

nav.bg-scrolling .menu-box ul li a {
  color: white;
}

nav.bg-scrolling .menu-box ul li a:hover {
  color: #D4AF37;
}

nav.bg-scrolling .menu-box ul li a.aktive {
  color: #D4AF37;
  font-weight: bolder;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url(header-img.jpg);
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
  border-bottom: 5px solid;
  -o-border-image: linear-gradient(to right, #D4AF37, black) 30;
     border-image: -webkit-gradient(linear, left top, right top, from(#D4AF37), to(black)) 30;
     border-image: linear-gradient(to right, #D4AF37, black) 30;
}

header .header-content {
  position: absolute;
  width: 50%;
  height: auto;
  left: 0px;
  bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 0 20px 20px 0;
}

header .header-content h1 {
  color: #D4AF37;
  font-size: 2.2em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

header .header-content p {
  color: white;
  font-size: 1.5em;
}

header .header-content p span {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.section1 {
  padding: 0 80px;
}

.section1 .test-box {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #222831;
  border-radius: 20px;
}

.section1 .test-box .text {
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 20px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .test-box .text h1 {
  margin: 5px;
  color: #D4AF37;
  font-size: 1.4em;
}

.section1 .test-box .text p {
  color: white;
}

.section1 .test-box .form {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 0px 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .test-box .form .temp-form {
  position: absolute;
  width: 30%;
  height: 100%;
  border-radius: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: -3;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.section1 .test-box .form .temp-form h4 {
  color: #D4AF37;
  display: block;
  margin: 15px;
}

.section1 .test-box .form .temp-form h4 span {
  color: white;
  margin-left: 10px;
}

.section1 .test-box .form .temp-form button {
  background: -webkit-gradient(linear, left top, right top, from(#D4AF37), color-stop(#D4AF37), color-stop(50%, #393e46));
  background: linear-gradient(to right, #D4AF37, #D4AF37, #393e46 50%);
  background-size: 300%;
  background-position: 0 100%;
  padding: 5px 65px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .temp-form button:hover {
  background-position: 100% 0;
  color: #D4AF37;
}

.section1 .test-box .form .info-form {
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 0px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.section1 .test-box .form .info-form form {
  position: relative;
}

.section1 .test-box .form .info-form form h4 {
  color: #D4AF37;
}

.section1 .test-box .form .info-form form input {
  margin: 5px 0px 10px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #D4AF37;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 80%;
}

.section1 .test-box .form .info-form form input:focus {
  outline: none;
}

.section1 .test-box .form .info-form form input:hover {
  border-color: #393e46;
}

.section1 .test-box .form .info-form form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.section1 .test-box .form .info-form form .checkbox-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section1 .test-box .form .info-form form .checkbox-box span {
  color: white;
}

.section1 .test-box .form .info-form form .checkbox-box input[type="radio"] {
  background-color: #D4AF37;
  border-radius: 10px;
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 15px;
  -webkit-appearance: none;
  margin: 15px;
}

.section1 .test-box .form .info-form form .checkbox-box input[type="radio"]:first-child {
  margin-left: 0;
}

.section1 .test-box .form .info-form form .checkbox-box input[type="radio"]:after {
  background-color: #222831;
  border-radius: 25px;
  content: '';
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}

.section1 .test-box .form .info-form form .checkbox-box input[type="radio"]:checked:after {
  background-color: #D4AF37;
  -webkit-box-shadow: inset 0 0 0 1px #222831, inset 0 2px 2px #393e46, 0 1px 1px white, 0 0 2px 2px #D4AF37;
          box-shadow: inset 0 0 0 1px #222831, inset 0 2px 2px #393e46, 0 1px 1px white, 0 0 2px 2px #D4AF37;
}

.section1 .test-box .form .info-form button {
  background: -webkit-gradient(linear, left top, right top, from(#D4AF37), color-stop(#D4AF37), color-stop(50%, #393e46));
  background: linear-gradient(to right, #D4AF37, #D4AF37, #393e46 50%);
  background-size: 300%;
  background-position: 0 100%;
  padding: 5px 65px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .info-form button:hover {
  background-position: 100% 0;
  color: #D4AF37;
}

.section1 .test-box .form .temp-form2 {
  position: absolute;
  width: 70%;
  height: 100%;
  border-radius: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: -3;
  border-left: 2px solid;
  -o-border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#D4AF37)) 1%;
     border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
}

.section1 .test-box .form .temp-form2 .cor-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 15%;
  padding: 0 100px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .temp-form2 .cor-line .skor {
  position: relative;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .test-box .form .temp-form2 .cor-line .skor h3 {
  color: #393e46;
  font-size: 1.2em;
}

.section1 .test-box .form .temp-form2 .cor-line .skor h3 span {
  font-size: 1em;
  margin-right: 5px;
}

.section1 .test-box .form .temp-form2 .cor-line .bar-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 100%;
}

.section1 .test-box .form .temp-form2 .cor-line .bar-box .bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #393e46;
  border-radius: 50px;
}

.section1 .test-box .form .temp-form2 .cor-line .bar-box .bar .line {
  position: relative;
  height: 9px;
  width: 5%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #D4AF37;
  border-radius: 50px;
}

.section1 .test-box .form .temp-form2 .ques-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 65%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .temp-form2 .ques-box h3 {
  color: #D4AF37;
}

.section1 .test-box .form .temp-form2 .ques-box i {
  font-size: 4em;
  margin: 20px;
  color: green;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section1 .test-box .form .temp-form2 .ques-box .range {
  width: 60%;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range] {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  color: transparent;
  background: #393e46;
  border-radius: 999px;
  border: none;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  color: transparent;
  background: #393e46;
  border-radius: 999px;
  border: none;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-ms-track {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  color: transparent;
  background: #393e46;
  border-radius: 999px;
  border: none;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-ms-fill-lower {
  display: none;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-ms-fill-upper {
  display: none;
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #D4AF37;
  -webkit-box-shadow: 0px 2px 10px -2px black(1);
          box-shadow: 0px 2px 10px -2px black(1);
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #D4AF37;
  box-shadow: 0px 2px 10px -2px black(1);
}

.section1 .test-box .form .temp-form2 .ques-box input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: #D4AF37;
  box-shadow: 0px 2px 10px -2px black(1);
}

.section1 .test-box .form .temp-form2 .ques-box .ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .test-box .form .temp-form2 .ques-box .tick {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D4AF37;
  font-size: 0.9em;
  left: 2px;
}

.section1 .test-box .form .temp-form2 .ques-box .tick:nth-child(3) {
  left: 3px;
}

.section1 .test-box .form .temp-form2 .back-line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  height: 20%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section1 .test-box .form .temp-form2 .back-line i {
  font-size: 2.5em;
  color: #D4AF37;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.section1 .test-box .form .temp-form2 .back-line i:hover {
  color: #393e46;
}

.section1 .test-box .form .temp-form2 .back-line button {
  background: -webkit-gradient(linear, left top, right top, from(#D4AF37), color-stop(#D4AF37), color-stop(50%, #393e46));
  background: linear-gradient(to right, #D4AF37, #D4AF37, #393e46 50%);
  background-size: 300%;
  background-position: 0 100%;
  padding: 5px 65px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}

.section1 .test-box .form .temp-form2 .back-line button:hover {
  background-position: 100% 0;
  color: #D4AF37;
}

.section1 .test-box .form .test-form {
  position: relative;
  width: 70%;
  height: 100%;
  border-radius: 0px 0px 20px 0px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  border-left: 2px solid;
  -o-border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#D4AF37)) 1%;
     border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
}

.section1 .test-box .form .test-form div {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .test-form div h3 {
  color: #D4AF37;
}

.section1 .test-box .form .result {
  position: absolute;
  width: 70%;
  height: 100%;
  border-radius: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: -2;
  border-left: 2px solid;
  padding: 0 50px;
  text-align: center;
  -o-border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#222831), to(#D4AF37)) 1%;
     border-image: linear-gradient(to bottom, #222831, #D4AF37) 1%;
}

.section1 .test-box .form .result h1 {
  color: #D4AF37;
  font-size: 1.5em;
  margin: 7px;
}

.section1 .test-box .form .result h4 {
  color: white;
  font-size: 0.7em;
}

.section1 .test-box .form .result h3 {
  color: white;
  font-size: 1.2em;
  margin: 7px;
}

.section1 .test-box .form .result button {
  background: -webkit-gradient(linear, left top, right top, from(#D4AF37), color-stop(#D4AF37), color-stop(50%, #393e46));
  background: linear-gradient(to right, #D4AF37, #D4AF37, #393e46 50%);
  background-size: 300%;
  background-position: 0 100%;
  padding: 5px 65px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section1 .test-box .form .result button:hover {
  background-position: 100% 0;
  color: #D4AF37;
}

.section2 .table {
  background-color: #222831;
  width: 100%;
  height: 500px;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 .table .title {
  position: relative;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 .table .title h1 {
  color: #D4AF37;
  font-size: 1.4em;
  margin: 5px;
}

.section2 .table .title p {
  color: white;
}

.section2 .table .content {
  position: relative;
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .table .content .row-content {
  position: relative;
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .table .content .row-content .rare {
  position: relative;
  background-color: #393e46;
  width: 30%;
  height: 70%;
  padding: 30px 40px;
  border-radius: 20px;
}

.section2 .table .content .row-content .rare h1 {
  color: #D4AF37;
  text-align: center;
  margin-bottom: 30px;
}

.section2 .table .content .row-content .rare p {
  color: white;
}

.section2 .table .content .row-content .rare p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 25px;
  -webkit-transform: translateY(190%);
          transform: translateY(190%);
  background-color: #D4AF37;
}

.section2 .table .content .row-content .common {
  position: relative;
  background-color: #393e46;
  width: 30%;
  height: 70%;
  padding: 30px 40px;
  border-radius: 20px;
}

.section2 .table .content .row-content .common h1 {
  color: #D4AF37;
  text-align: center;
  margin-bottom: 30px;
}

.section2 .table .content .row-content .common p {
  color: white;
}

.section2 .table .content .row-content .common p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 25px;
  -webkit-transform: translateY(190%);
          transform: translateY(190%);
  background-color: #D4AF37;
}

.section2 .table .content .row-content .important {
  position: relative;
  background-color: #393e46;
  width: 30%;
  height: 70%;
  padding: 30px 40px;
  border-radius: 20px;
}

.section2 .table .content .row-content .important h1 {
  color: #D4AF37;
  text-align: center;
  margin-bottom: 30px;
}

.section2 .table .content .row-content .important p {
  color: white;
}

.section2 .table .content .row-content .important p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 25px;
  -webkit-transform: translateY(190%);
          transform: translateY(190%);
  background-color: #D4AF37;
}

.section3 {
  padding: 0 80px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section3 .content {
  position: relative;
  width: 50%;
  height: 60vh;
  background-color: #222831;
  border-radius: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .content h1 {
  color: #D4AF37;
  margin: 10px 0;
  text-align: center;
  font-size: 1.4em;
}

.section3 .content p {
  color: white;
  margin: 0px 0px 20px 0px;
}

.section3 .content p::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 15px;
  -webkit-transform: translateY(190%);
          transform: translateY(190%);
  background-color: #D4AF37;
}

.section3 .images {
  position: relative;
  width: 50%;
  height: 50vh;
  background-color: #393e46;
  border-radius: 0 20px 20px 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
}

.section4 .card {
  position: relative;
  width: 30%;
  height: 60%;
  border-radius: 20px;
}

.section4 .card:nth-child(2) {
  background-color: #393e46;
}

.section4 .card:nth-child(2) .title h1 {
  color: #393e46 !important;
}

.section4 .card:nth-child(2) .info {
  background-color: #393e46;
  border-bottom: 2px solid #222831;
}

.section4 .card .title {
  position: relative;
  width: 100%;
  height: 10%;
  border-radius: 20px 20px 0 0;
  background-color: #D4AF37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .card .title h1 {
  color: #222831;
}

.section4 .card .info {
  position: relative;
  width: 100%;
  height: 18%;
  background-color: #222831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #393e46;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 .card .info:last-child {
  border-radius: 0 0 20px 20px;
  border-bottom: none;
}

.section4 .card .info h1 {
  color: #D4AF37;
}

.section4 .card .info p {
  color: white;
}
/*# sourceMappingURL=index.css.map */